.chat-container {
    display: flex;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
}

#chat-window {
    width: 45%;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

#messages {
    height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 5px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group input,
.input-group button {
    margin-bottom: 5px;
}