/* External CSS for Pet Olympics */



table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 0.5em;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}